In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import html5lib
import re
from datetime import datetime

## Get unincorporated area boundaries (Do only once)

from lxml import html 
import time

#Get page of links to each unincorporated area
unincorpurl = 'http://maps.latimes.com/neighborhoods/unincorporated/list/page/1/'
unincorpresponse = requests.get(unincorpurl)
unincorpsoup = BeautifulSoup(unincorpresponse.text, "html.parser")

#Get hyperlinks
alist = unincorpsoup.findAll('a', href=True)

#Loop over each unincorporated area
count = 0
outfile = "data/unincorporated_latimes.txt" #Change to .geojson.  Also fix formatting at a later date
for link in alist:
    if ('Unincorporated' in str(link)):
        print('Working on ', link)
        download_url = 'http://maps.latimes.com/'+ link['href']
        
        pageContent=requests.get(download_url) #Use lxml to be able to scrape javascript.         
        tree = html.fromstring(pageContent.content)
        js=tree.xpath('//*[@id="content"]/div[1]/script/text()') #XPath for the script
        result = re.search('features": \[(.*)]    };    ', str(js[0].replace('\n', ''))) #Extract geoJSON feature
        
        with open(outfile, "a+") as text_file:
            if count < 1 :
                text_file.write('{\n "type": "FeatureCollection", \n "features": [\n') #Untested
            text_file.write(result.group(1)+', \n') #Be sure to go remove the last comma manually and fix the beginning
        time.sleep(1) #pause the code for a sec
        count = count + 1
with open(outfile, "a+") as text_file:
    text_file.write('REMOVE PRECEEDING COMMA \n ] }')

#Check file output        
import geopandas as gpd
demog = gpd.read_file('data/unincorporated_latimes.geojson')
demog.plot()

## Daily scrape of LA County Public Health table

In [2]:
#Chose what to scrape
archive = False
titlestring='0713' 

if archive:     
    url = 'data/'+titlestring+'.html' #Uses locally downloaded file from wayback machine to lookup archived site
    soup = BeautifulSoup(open(url),"html.parser")
else:
    url ='http://publichealth.lacounty.gov/media/Coronavirus/locations.htm'
    response = requests.get(url)
    soup = BeautifulSoup(response.text, "html.parser")
#    datetime.today().strftime('%Y-%m-%d')
#    titlestring=datetime.today().strftime('%m%d') #Use today's date

In [3]:
tr_elements = soup.find_all('tr', {'class' : 'blue text-white'})[-1].find_next_siblings()

colnames = ['Locations','Total Cases', 'Rate', 'Deaths', 'Death Rate']
#for col in soup.find_all('tr')[0].find_all('td'):
#    colnames.append(col.text.replace('*', ''))
    
df = pd.DataFrame(columns=colnames, index = range(0,len(tr_elements)+2)) #To add in total and Pasadena

row_marker = 0

for row in tr_elements:
    column_marker = 0
    columns = row.find_all('td')
    for column in columns:        
        df.iat[row_marker,column_marker] = column.get_text().replace('--', 'suppressed').replace('City of ', '').replace('Unincorporated - ', '').replace('Los Angeles - ','').replace('*','')
        column_marker += 1
    row_marker+=1

#Add total - currently hardcoded
column_marker =0 
for column in soup.find_all('tr')[4].find_all('td'): #Changed value to 5. Previously 1?

    if (column_marker==0):
        print('Renaming ', column.get_text(), 'to Total')
        df.iat[-1, column_marker] = 'Total'
    else:
        df.iat[-1, column_marker] = column.get_text()
        print(column.get_text())
    column_marker += 1

#df.iat[-1, 3] = int(soup.find_all('tr')[11].find_all('td')[1].get_text())

Renaming  Laboratory Confirmed Cases  to Total
133549

In [4]:
df

                  Locations Total Cases Rate Deaths Death Rate
0              Agoura Hills          74  354      1          5
1                  Alhambra         603  695     11         13
2                   Arcadia         230  398     11         19
3                   Artesia         153  911      3         18
4                    Avalon           5  129      0          0
..                      ...         ...  ...    ...        ...
340                Wiseburn          56  929      0          0
341  -  Under Investigation        3489          15
342                     NaN         NaN  NaN    NaN        NaN
343                     NaN         NaN  NaN    NaN        NaN
344                   Total      133549

[345 rows x 5 columns]

In [5]:
#Add Pasadena back in 
column_marker =0
pasadenapop = 141371.
for column in soup.find_all('tr')[11].find_all('td'):
    print(column.get_text())

-- Pasadena
100

In [6]:
#Add Pasadena back in 
#column_marker =0
pasadenapop = 141371.
#for column in soup.find_all('tr')[8].find_all('td'): #Previously 4, change as of May ~15
#    if(column_marker <2):
#        print(column.get_text())
#        df.iat[-3, column_marker] = column.get_text().replace('-','').replace(' ','')
#        if(column_marker ==1):
#            df.iat[-3, column_marker+1] = int( column.get_text().replace('-','')) /pasadenapop *100000
#    else:
#        print('Skipping:', column.get_text())
#    column_marker += 1
df.iat[-3, 0] = soup.find_all('tr')[7].find_all('td')[0].get_text().replace('-','').replace(' ','')
df.iat[-3, 1] = int(soup.find_all('tr')[7].find_all('td')[1].get_text())
df.iat[-3, 2] = int(soup.find_all('tr')[7].find_all('td')[1].get_text())/pasadenapop *100000
df.iat[-3, 3] = int(soup.find_all('tr')[11].find_all('td')[1].get_text())
df.iat[-3, 4] = int(soup.find_all('tr')[11].find_all('td')[1].get_text())/pasadenapop *100000

In [7]:
#Add Long Beach back in (No longer in table list like it was before)
#df.at['Long Beach',colnames[1]] = soup.find_all('tr')[7].find_all('td')[1].text.replace('*','') #Previously 3, not 7
#df.at['Long Beach',colnames[2]] = int(soup.find_all('tr')[7].find_all('td')[1].text)/longbeachpop*100000

#column_marker =0
longbeachpop = 467354.
#for column in soup.find_all('tr')[7].find_all('td'): #Previously 4, change as of May ~15
#    if(column_marker <2):
#        print(column.get_text())
#        df.iat[-2, column_marker] = column.get_text().replace('- ','')
#        if(column_marker ==1):
#            df.iat[-2, column_marker+1] = int( column.get_text().replace('- ','')) /longbeachpop *100000
#    else:
#        print('Skipping:', column.get_text())
#    column_marker += 1
df.iat[-2, 0] = 'Long Beach'
df.iat[-2, 1] = int(soup.find_all('tr')[6].find_all('td')[1].get_text())
df.iat[-2, 2] = int(soup.find_all('tr')[6].find_all('td')[1].get_text())/longbeachpop *100000
df.iat[-2, 3] = int(soup.find_all('tr')[10].find_all('td')[1].get_text())
df.iat[-2, 4] = int(soup.find_all('tr')[10].find_all('td')[1].get_text())/longbeachpop *100000

In [8]:
soup.find_all('tr')[7].find_all('td')[1].get_text()

'1470'

In [9]:
df

                  Locations Total Cases     Rate Deaths Death Rate
0              Agoura Hills          74      354      1          5
1                  Alhambra         603      695     11         13
2                   Arcadia         230      398     11         19
3                   Artesia         153      911      3         18
4                    Avalon           5      129      0          0
..                      ...         ...      ...    ...        ...
340                Wiseburn          56      929      0          0
341  -  Under Investigation        3489              15
342                Pasadena        1470  1039.82    100    70.7359
343              Long Beach        5388  1152.87    147    31.4537
344                   Total      133549

[345 rows x 5 columns]

In [10]:
#Show which locations have duplicates - due to Unincorporated or City of LA
grouped = df[df['Locations'].duplicated(keep=False)].groupby('Locations')
df[df['Locations'].duplicated(keep=False)]

                   Locations Total Cases  Rate Deaths Death Rate
2                    Arcadia         230   398     11         19
5                      Azusa         668  1335      9         18
11                  Bradbury           7   655      0          0
15                  Cerritos         300   599      7         14
16                 Claremont         164   450      3          8
19                    Covina         643  1311     12         24
24                    Duarte         252  1145     22        100
25                  El Monte        2095  1786     57         49
29                  Glendora         548  1039     14         27
31                 Hawthorne         940  1059     26         29
39          La Habra Heights          19   348      0          0
42                  La Verne         180   541      2          6
43                  Lakewood         629   783      7          9
51                  Monrovia         381   982     29         75
55                  Palmdale        1678  1056     23         14
59                    Pomona        2138  1371     33         21
74            South El Monte         377  1805     12         57
84                  Whittier        1060  1212     15         17
88   Angeles National Forest           2  5000      0          0
112                  Del Rey         176   588      6         20
125       Florence-Firestone        1171  2468     17         36
132           Harbor Gateway         423   970      8         18
159             Miracle Mile          94   523      5         28
229  Angeles National Forest           3   241      0          0
230                  Arcadia          39   489      0          0
234                    Azusa         224  1407      2         13
237                 Bradbury           3  2778      0          0
240                 Cerritos           2   341      0          0
242                Claremont           3   427      0          0
243                   Covina         201  1195      2         12
246                  Del Rey           1   314      0          0
249                   Duarte          54  1220      1         23
258                 El Monte           3  2069      0          0
260       Florence-Firestone        1714  2649     27         42
262                 Glendora           4   606      0          0
264           Harbor Gateway           0     0      0          0
265                Hawthorne          25   994      0          0
269         La Habra Heights           0     0      0          0
271                 La Verne          14   686      0          0
276                 Lakewood           0     0      0          0
284             Miracle Mile           0     0      0          0
285                 Monrovia          47  1211      0          0
291                 Palmdale           7   831      0          0
296                   Pomona           8   413      1         52
314           South El Monte          27  1504      0          0
337                 Whittier          40  1057      0          0

In [11]:
#Failed alt methods:
#[['Total Cases', 'Rate']].sum().head(10)
#.agg({'Total Cases' : 'sum'}).head(10)#, 'Rate' : lambda x: x.iloc[n]})

for name, group in grouped:
#    print('Before', group)
    localsum = 0
    localpop = 0
    firstindex = 0
    for row_index, row in group.iterrows():
        if firstindex==0:
            firstindex = row_index
        if (('suppressed' not in row['Total Cases']) and (int(row['Total Cases']) >0)):
            localsum = localsum + int(row['Total Cases'])
            mypop = int(row['Total Cases'])*100000/float(row['Rate'])
            localpop = localpop+mypop
            
#        print(row_index, 'I have ', row['Total Cases'], ' but my city has ', localsum)
#        print(row_index, row['Rate']) 
    if localsum >0:
        localrate = localsum*100000/localpop #This overestimates the rates in communities whose data are suppressed or have 0 confirmed cases
#        print('ROW INDEX', row_index)
        df.iat[row_index,2] = localrate
        df.iat[firstindex,2] = localrate
    else:
        df.iat[row_index,2] = 0
        df.iat[firstindex,2] = 0
    df.iat[row_index,1] = localsum
    df.iat[firstindex,1] = localsum #Note that different arguments for drop_duplicates could avoid needing to update the firstindex versions

In [12]:
#Check that it updated successfully
df[df['Locations'].duplicated(keep=False)]

                   Locations Total Cases     Rate Deaths Death Rate
2                    Arcadia         269  409.036     11         19
5                      Azusa         892  1352.38      9         18
11                  Bradbury          10  849.839      0          0
15                  Cerritos         302  596.014      7         14
16                 Claremont         167  449.565      3          8
19                    Covina         844  1281.38     12         24
24                    Duarte         306  1157.56     22        100
25                  El Monte        2098  1786.35     57         49
29                  Glendora         552  1033.65     14         27
31                 Hawthorne         965  1057.21     26         29
39          La Habra Heights          19      348      0          0
42                  La Verne         194   549.38      2          6
43                  Lakewood         629      783      7          9
51                  Monrovia         428  1002.82     29         75
55                  Palmdale        1685  1054.81     23         14
59                    Pomona        2146  1359.25     33         21
74            South El Monte         404  1781.18     12         57
84                  Whittier        1100  1205.57     15         17
88   Angeles National Forest           5  389.162      0          0
112                  Del Rey         177  585.115      6         20
125       Florence-Firestone        2885  2572.42     17         36
132           Harbor Gateway         423      970      8         18
159             Miracle Mile          94      523      5         28
229  Angeles National Forest           5  389.162      0          0
230                  Arcadia         269  409.036      0          0
234                    Azusa         892  1352.38      2         13
237                 Bradbury          10  849.839      0          0
240                 Cerritos         302  596.014      0          0
242                Claremont         167  449.565      0          0
243                   Covina         844  1281.38      2         12
246                  Del Rey         177  585.115      0          0
249                   Duarte         306  1157.56      1         23
258                 El Monte        2098  1786.35      0          0
260       Florence-Firestone        2885  2572.42     27         42
262                 Glendora         552  1033.65      0          0
264           Harbor Gateway         423      970      0          0
265                Hawthorne         965  1057.21      0          0
269         La Habra Heights          19      348      0          0
271                 La Verne         194   549.38      0          0
276                 Lakewood         629      783      0          0
284             Miracle Mile          94      523      0          0
285                 Monrovia         428  1002.82      0          0
291                 Palmdale        1685  1054.81      0          0
296                   Pomona        2146  1359.25      1         52
314           South El Monte         404  1781.18      0          0
337                 Whittier        1100  1205.57      0          0

In [13]:
df.drop_duplicates(keep='first', inplace=True)

In [27]:
df.count()
pd.set_option('display.max_rows', None)

In [28]:
df

                                       Total Cases     Rate Deaths Death Rate
city
Agoura Hills                                    74      354      1          5
Alhambra                                       603      695     11         13
Arcadia                                        269  409.036     11         19
Artesia                                        153      911      3         18
Avalon                                           5      129      0          0
Azusa                                          892  1352.38      9         18
Baldwin Park                                  1301     1695     28         36
Bell                                           804     2213     23         63
Bell Gardens                                   945     2194     12         28
Bellflower                                    1205     1550     36         46
Beverly Hills                                  389     1127      8         23
Bradbury                                        10  849.839      0          0
Burbank                                        713      665     48         45
Calabasas                                      151      621     11         45
Carson                                         860      916     34         36
Cerritos                                       302  596.014      7         14
Claremont                                      167  449.565      3          8
Commerce                                       270     2066      1          8
Compton                                       1937     1939     28         28
Covina                                         844  1281.38     12         24
Cudahy                                         577     2370     10         41
Culver City                                    247      620     27         68
Diamond Bar                                    263      457      4          7
Downey                                        2202     1927     55         48
Duarte                                         306  1157.56     22        100
El Monte                                      2098  1786.35     57         49
El Segundo                                      75      447      0          0
Gardena                                        641     1046     33         54
Glendale                                      1734      840    116         56
Glendora                                       552  1033.65     14         27
Hawaiian Gardens                               245     1669      1          7
Hawthorne                                      965  1057.21     26         29
Hermosa Beach                                  117      595      2         10
Hidden Hills                                     5      265      0          0
Huntington Park                               1505     2530     23         39
Industry                                        16     3661      2        458
Inglewood                                     1305     1149     67         59
Irwindale                                       30     2056      0          0
La Canada Flintridge                            88      425      6         29
La Habra Heights                                19      348      0          0
La Mirada                                      455      917     21         42
La Puente                                      673     1654      4         10
La Verne                                       194   549.38      2          6
Lakewood                                       629      783      7          9
Lancaster                                     1455      901     21         13
Lawndale                                       288      857      8         24
Lomita                                         111      535      7         34
Lynwood                                       1729     2400     64         89
Malibu                                          62      478      2         15
Manhattan Beach                                200      556      4         11
Maywood                                        741     2642     22         78
Monrovia                                       428  1002.82     29         75
Montebello                                    1182     1836     29         45
Monterey Park                                  432      694     12         19
Norwalk                                       1599     1486     35         33
Palmdale                                      1685  1054.81     23         14
Palos Verdes Estates                            60      444      2         15
Paramount                                     1176     2099     14         25
Pico Rivera                                   1274     1982     45         70
Pomona                                        2146  1359.25     33         21
Rancho Palos Verdes                            174      407     12         28
Redondo Beach                                  295      429      9         13
Rolling Hills                                    4      206      0          0
Rolling Hills Estates                           30      370      2         25
Rosemead                                       367      663     10         18
San Dimas                                      238      690      2          6
San Fernando                                   375     1524     12         49
San Gabriel                                    309      755     23         56
San Marino                                      34      256      1          8
Santa Clarita                                 1548      702     31         14
Santa Fe Springs                               257     1399      1          5
Santa Monica                                   502      543     33         36
Sierra Madre                                    43      391      3         27
Signal Hill                                    129     1093      0          0
South El Monte                                 404  1781.18     12         57
South Gate                                    2271     2314     37         38
South Pasadena                                 185      710     23         88
Temple City                                    308      845     33         91
Torrance                                       739      495     51         34
Vernon                                          14     6699      0          0
Walnut                                         141      462      1          3
West Covina                                   1442     1332     19         18
West Hollywood                                 334      904      4         11
Westlake Village                                14      167      0          0
Whittier                                      1100  1205.57     15         17
Los Angeles - AGGREGATE                      55635     1376   1823         45
Adams-Normandie                                127     1548      3         37
Alsace                                         199     1599      0          0
Angeles National Forest                          5  389.162      0          0
Angelino Heights                                30     1199      1         40
Arleta                                         634     1845     11         32
Atwater Village                                114      777      4         27
Baldwin Hills                                  331     1063     23         74
Bel Air                                         52      617      0          0
Beverly Crest                                   63      503      2         16
Beverlywood                                     81      615      0          0
Boyle Heights                                 2245     2584     35         40
Brentwood                                      149      481      2          6
Brookside                                        1      172      0          0
Cadillac-Corning                                60      843      1         14
Canoga Park                                    921     1411     43         66
Carthay                                        142      989     10         70
Central                                       1202     3083     24         62
Century City                                    69      539      0          0
Century Palms/Cove                             795     2354      6         18
Chatsworth                                     353      952     32         86
Cheviot Hills                                   40      436      2         22
Chinatown                                       50      623      1         12
Cloverdale/Cochran                             173     1189      5         34
Country Club Park                              181     1194     20        132
Crenshaw District                              157     1135      2         14
Crestview                                      131     1152     17        150
Del Rey                                        177  585.115      6         20
Downtown                                       394     1432     10         36
Eagle Rock                                     390      985     16         40
East Hollywood                                 391     1335     41        140
Echo Park                                       97      680      2         14
El Sereno                                      567     1356     23         55
Elysian Park                                    43      753      0          0
Elysian Valley                                 141     1386      1         10
Encino                                         269      596     14         31
Exposition                                      45     1353      0          0
Exposition Park                                633     1409     16         36
Faircrest Heights                               18      500      1         28
Figueroa Park Square                           142     1628      0          0
Florence-Firestone                            2885  2572.42     17         36
Glassell Park                                  347     1098      9         28
Gramercy Place                                 125     1161      3         28
Granada Hills                                  611     1050     56         96
Green Meadows                                  446     2074      5         23
Hancock Park                                   146      857      2         12
Harbor City                                    269      925      9         31
Harbor Gateway                                 423      970      8         18
Harbor Pines                                    10      415      0          0
Harvard Heights                                298     1652     18        100
Harvard Park                                   780     2056     10         26
Highland Park                                  561     1159     13         27
Historic Filipinotown                          248     1788      8         58
Hollywood                                      606      888      6          9
Hollywood Hills                                160      544      6         20
Hyde Park                                      382     1338      8         28
Jefferson Park                                 148     1833      0          0
Koreatown                                      590     1141     20         39
Lafayette Square                                41      899      1         22
Lake Balboa                                    425     1007     11         26
Lakeview Terrace                               316     2406     11         84
Leimert Park                                   144      945      3         20
Lincoln Heights                                622     1908     34        104
Little Armenia                                 268     3340     43        536
Little Bangladesh                              285     1006      4         14
Little Tokyo                                    42     1341      2         64
Longwood                                        66     1533      0          0
Los Feliz                                      102      472      2          9
Manchester Square                               67      785      1         12
Mandeville Canyon                                5      160      0          0
Mar Vista                                      169      398      5         12
Marina Peninsula                                21      482      0          0
Melrose                                       1063     1368     46         59
Mid-city                                       187     1244     20        133
Miracle Mile                                    94      523      5         28
Mission Hills                                  351     1455     13         54
Mt. Washington                                 233      965      5         21
North Hills                                    909     1476     33         54
North Hollywood                               1582     1045     40         26
Northridge                                     713     1022     36         52
Pacific Palisades                               85      399      3         14
Pacoima                                       1572     2042     24         31
Palisades Highlands                             14      364      0          0
Palms                                          339      773     26         59
Panorama City                                 1409     1872     60         80
Park La Brea                                    51      376      1          7
Pico-Union                                    1107     2646     70        167
Playa Del Rey                                   13      407      0          0
Playa Vista                                     65      594      0          0
Porter Ranch                                   170      478      6         17
Rancho Park                                     40      610      1         15
Regent Square                                   16      576      0          0
Reseda                                        1156     1509     53         69
Reseda Ranch                                    41      884      0          0
Reynier Village                                 23      544      0          0
San Pedro                                     1325     1698     22         28
Shadow Hills                                    26      585      0          0
Sherman Oaks                                   503      576     14         16
Silverlake                                     358      812     14         32
South Carthay                                   61      576      1          9
South Park                                    1085     2858     15         40
St Elmo Village                                 73     1592      7        153
Studio City                                    146      651      9         40
Sun Valley                                     689     1313     13         25
Sunland                                        262     1284     24        118
Sycamore Square                                  1      155      0          0
Sylmar                                        1593     1933     56         68
Tarzana                                        400     1296     30         97
Temple-Beaudry                                 678     1717     16         41
Thai Town                                       78      795      0          0
Toluca Lake                                     45      517      0          0
Toluca Terrace                                  12      919      1         77
Toluca Woods                                     7      377      0          0
Tujunga                                        213      766     11         40
University Hills                                31      904      1         29
University Park                                432     1573     11         40
Valley Glen                                    276      920     11         37
Valley Village                                 328     1327     22         89
Van Nuys                                      1443     1548     49         53
Venice                                         128      378      2          6
Vermont Knolls                                 421     2448      6         35
Vermont Square                                 190     2481      2         26
Vermont Vista                                  977     2372     14         34
Vernon Central                                1653     3179     24         46
Victoria Park                                  108     1286      2         24
View Heights                                    21      568      2         54
Watts                                          917     2149     14         33
Wellington Square                               57     1160      0          0
West Adams                                     499     1806     30        109
West Hills                                     265      654     25         62
West Los Angeles                               265      704      9         24
West Vernon                                   1189     2216     30         56
Westchester                                    227      440     12         23
Westlake                                      1531     2579    109        184
Westwood                                       174      322      5          9
Wholesale District                            1573     4354     16         44
Wilmington                                     807     1429      8         14
Wilshire Center                                576     1148     25         50
Winnetka                                       600     1159      8         15
Woodland Hills                                 404      594     19         28
Acton                                           34      427      2         25
Agua Dulce                                      15      361      0          0
Altadena                                       309      708     10         23
Anaverde                                         5      332      0          0
Arcadia                                        269  409.036      0          0
Athens-Westmont                                710     1673     12         28
Athens Village                                  94     1920      5        102
Avocado Heights                                101     1491      1         15
Azusa                                          892  1352.38      2         13
Bassett                                        345     2328      7         47
Bouquet Canyon                                   1       93      1         93
Canyon Country                                  54      699      0          0
Castaic                                       1819     6690      2          7
Cerritos                                       302  596.014      0          0
Charter Oak                                      0        0      0          0
Claremont                                      167  449.565      0          0
Covina                                         844  1281.38      2         12
Covina (Charter Oak)                           149     1134      0          0
Del Aire                                        37      842      1         23
Del Rey                                        177  585.115      0          0
Del Sur                                          3      124      1         41
Desert View Highlands                            9      361      1         40
Duarte                                         306  1157.56      1         23
East Covina                                      0        0      0          0
East La Mirada                                  55     1039      0          0
East Lancaster                                   0        0      0          0
East Los Angeles                              3163     2525     65         52
East Pasadena                                   19      297      1         16
East Rancho Dominguez                          274     1790      6         39
East Whittier                                   46      867      0          0

In [15]:
df#.loc[df['Locations'].str.contains('Under Investigation')]

                  Locations Total Cases     Rate Deaths Death Rate
0              Agoura Hills          74      354      1          5
1                  Alhambra         603      695     11         13
2                   Arcadia         269  409.036     11         19
3                   Artesia         153      911      3         18
4                    Avalon           5      129      0          0
..                      ...         ...      ...    ...        ...
340                Wiseburn          56      929      0          0
341  -  Under Investigation        3489              15
342                Pasadena        1470  1039.82    100    70.7359
343              Long Beach        5388  1152.87    147    31.4537
344                   Total      133549

[342 rows x 5 columns]

In [16]:
#Other cleanup - this is different once the index has been changed:
df.loc[df['Locations'].str.contains('Under Investigation'), 'Locations'] = 'Under Investigation'
df.loc[df['Locations'].str.match('Los Angeles'), 'Locations'] = 'Los Angeles - AGGREGATE'
df.loc[df['Locations'].str.match('Laboratory Confirmed Cases (LCC)'), 'Locations'] = 'Total'

df[df['Locations'].str.contains('AGGREGATE')]

In [17]:
df.set_index('Locations', inplace=True)
df

                    Total Cases     Rate Deaths Death Rate
Locations
Agoura Hills                 74      354      1          5
Alhambra                    603      695     11         13
Arcadia                     269  409.036     11         19
Artesia                     153      911      3         18
Avalon                        5      129      0          0
...                         ...      ...    ...        ...
Wiseburn                     56      929      0          0
Under Investigation        3489              15
Pasadena                   1470  1039.82    100    70.7359
Long Beach                 5388  1152.87    147    31.4537
Total                    133549

[342 rows x 4 columns]

#Fix Long Beach and Pasadena
column_marker = 0
for column in soup.find_all('tr')[3].find_all('td'):
    print(df.loc['Long Beach'])
    df.at['Long Beach', colnames[column_marker]] = column.get_text()
    #    df.iat[df.loc['Long Beach'] , column_marker] = column.get_text()
    #    print('Before', df[df['Locations'].str.contains('Long Beach')])
    #    df.iat[df.index(df['Locations'].str.contains('Long Beach')).tolist(), column_marker] = column.get_text()
    column_marker += 1
    #    print('After', df[df['Locations'].str.contains('Long Beach')])

In [18]:
df

                    Total Cases     Rate Deaths Death Rate
Locations
Agoura Hills                 74      354      1          5
Alhambra                    603      695     11         13
Arcadia                     269  409.036     11         19
Artesia                     153      911      3         18
Avalon                        5      129      0          0
...                         ...      ...    ...        ...
Wiseburn                     56      929      0          0
Under Investigation        3489              15
Pasadena                   1470  1039.82    100    70.7359
Long Beach                 5388  1152.87    147    31.4537
Total                    133549

[342 rows x 4 columns]

In [19]:
df.loc['Long Beach']

Total Cases       5388
Rate           1152.87
Deaths             147
Death Rate     31.4537
Name: Long Beach, dtype: object

In [20]:
df.loc['Woodland Hills']

Total Cases    404
Rate           594
Deaths          19
Death Rate      28
Name: Woodland Hills, dtype: object

In [21]:
df

                    Total Cases     Rate Deaths Death Rate
Locations
Agoura Hills                 74      354      1          5
Alhambra                    603      695     11         13
Arcadia                     269  409.036     11         19
Artesia                     153      911      3         18
Avalon                        5      129      0          0
...                         ...      ...    ...        ...
Wiseburn                     56      929      0          0
Under Investigation        3489              15
Pasadena                   1470  1039.82    100    70.7359
Long Beach                 5388  1152.87    147    31.4537
Total                    133549

[342 rows x 4 columns]

In [22]:
#Write out to CSV. Make the format match what covid_la.ipynb expects
df.index.names=['city']
df.rename(columns={'Locations': 'city', 'Total Cases': 'count', 'Rate': 'rate'}).to_csv(
    "./data/covid_"+titlestring+".csv",
    index=True,
    encoding="utf-8"
)
#THERE IS A KNOWN BUG that Under Investigation is dropped in archived scrapes! Must be readded

In [104]:
#SNF Pull Table 1
thead_elements = soup.find_all('thead', {'class' : 'blue text-white'})[1].find_next_siblings()

rescolnames = ['Obs', 'Setting Name', 'City', 'Staff', 'Residents', 'Total Deaths']
            
            
resdf = pd.DataFrame(columns=rescolnames, index = range(0,len(thead_elements)))

row_marker = 0

for row in thead_elements:
    column_marker = 0
    columns = row.find_all('td')
    for column in columns:        
        resdf.iat[row_marker,column_marker] = column.get_text()#.replace('*','')
        column_marker += 1
    row_marker+=1

#Convert out of strings  
resdf.Staff = pd.to_numeric(resdf.Staff, errors='coerce')
resdf.Residents = pd.to_numeric(resdf.Residents, errors='coerce')
resdf['Total Deaths'] = pd.to_numeric(resdf['Total Deaths'], errors='coerce')
resdf['Total Cases'] = resdf.iloc[:,[3,4]].sum(axis=1)

#Save to CSV
resdf.set_index('Obs').to_csv("./data/snf_"+titlestring+".csv",index=True,encoding="utf-8")

In [108]:
#Nonres: Pull Table 2
thead_elements=[]
thead_elements = soup.find_all('thead', {'class' : 'blue text-white'})[2].find_next_siblings()

nonrescolnames = ['Obs', 'Setting Name', 'Address', 'Confirmed', 'Symptomatic']
    
nonresdf = pd.DataFrame(columns=nonrescolnames, index = range(0,len(thead_elements)))

row_marker = 0

for row in thead_elements:
    column_marker = 0
    columns = row.find_all('td')
    for column in columns:        
        nonresdf.iat[row_marker,column_marker] = column.get_text()#.replace('*','')
        column_marker += 1
    row_marker+=1

#Convert out of strings  
nonresdf.Confirmed = pd.to_numeric(nonresdf.Confirmed, errors='coerce')
nonresdf.Symptomatic = pd.to_numeric(nonresdf.Symptomatic, errors='coerce')
nonresdf['Total'] = nonresdf.iloc[:,[3,4]].sum(axis=1)

#Save to CSV
nonresdf.set_index('Obs').to_csv("./data/nonres_"+titlestring+".csv",index=True,encoding="utf-8")